node_modules
package-lock.json
.env
.vscode/settings.json
# Hardhat files
/cache
/artifacts
/logs

#hyperleadger
fabric-samples/
fablo-target/
/financial-wallet

# TypeChain files
/typechain
/typechain-types


# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
